h1 {
    text-align: center;
    background-color: red;
    padding: 10px;
    color: white;
    margin: 0;
}

h2 {
    text-align: center;
    background-color: aqua;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
}

body {
    background-color: beige;
}

.container {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: solid;
    border-width: 2px;
}

section {
    padding: 20px;
}

footer {
    font-weight: lighter;
    color: white;
    background-color: #cccccc;
    text-align: center;
    margin-bottom: 0;
}